body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #2b2b45);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  width: 90%;
  max-width: 350px;
  text-align: center;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
  transform: translateY(40px);
  opacity: 0;
  transition: 0.8s ease;
}

.card.show {
  transform: translateY(0);
  opacity: 1;
}

/* FOTO */
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 15px;
  transition: 0.4s;
}

.profile-img:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 0 25px white;
}

/* TEXT */
h2 {
  margin: 10px 0 5px;
  color: white;
}

p {
  color: #ddd;
  font-size: 14px;
  margin-bottom: 20px;
}

/* LINK */
.links a {
  display: block;
  text-decoration: none;
  margin: 10px 0;
  padding: 12px;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s;
  color: white;
}

.youtube { background: #FF0000; }
.instagram { background: #E1306C; }
.tiktok { background: #000000; }
.saweria { background: #FFB800; color: black; }

.links a:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}